@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    /*##VARIABLES##*/
    --font-family: 'Kanit', sans-serif;
    /*100 300 700*/
    /*Colors*/
    --color-font: black;
    --color-bg: turquoise;
    --color-container: aliceblue;
    --color-dot-no: orange;
    --color-dot-yes: darkslateblue;
    /*fonts format*/
    --fs-title: 1.8rem;
    --fs-subtitle: 1.4rem;
    --fs-normal: 1.0rem;
    --fs-details: 0.9rem;
    --fw-light: 100;
    --fw-normal: 300;
    --fw-bold: 700;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canvas {
    background-color: var(--color-container);
    width: 950px;
    height: 650px;
    box-shadow: 0px 0px 49px 16px rgba(0,0,0,0.55);
}

#title, #sub-title, .legend-label, #tooltip, .label {
    font-family: var(--font-family);
}

#title {
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
}

#sub-title {
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-normal);
}

.dot {
    opacity: 0.6;
    stroke: black;
    stroke-width: 1px;
}

[data-dopping='no'] {
    fill: var(--color-dot-no);
}

[data-dopping='yes'] {
    fill: var(--color-dot-yes);
}

.label {
    font-size: var(--fs-details);
}

.legend-icon {
    width: 15px;
    height: 15px;
}

#tooltip {
    position: absolute;
    background-color: var(--color-bg);
    border: var(--color-container) 2px solid;
    opacity: 0.95;
    padding: 10px 15px;
    font-size: var(--fs-normal);
    border-radius: 5px;   
}

.attribution > *{
    color: black;
}